@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-black text-green-400;
}

body {
  @apply min-h-screen m-0;
  font-family: 'Courier Prime', monospace;
}

.falling-bg {
  background: repeating-linear-gradient(
    #000800,#000800 0px,#00FF0050 2px,#000800 3px,#00FF0050 4px,#000800 6px, #000800 20px
  );

  position: absolute;
  inset: 0;
  will-change: transform;
  animation: fallAnim 6s linear infinite;
  transition: filter 0.6s ease;
  mask-image: radial-gradient(circle at center, white 40%, transparent 100%);
  transform: scale(1.2);

}


@keyframes fallAnim {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(20px);
  }
}
